<div class="innerContent">
	<div class="sortData">
	   <div class="sponBtn"><button class="btn btn-red btnCss" (click)="resetForm()">Add new Exhibitor</button></div>						   
   </div>
   <!---->
	<div class="gridTable addBlueStrip">
	   <div class="table-responsive">
		 <table class="table table-bordered tableBodyScroll">
		   <thead>
			  <tr>
				<th (click)="sortData('ExhibitorId')">Exhibitor Id
					<span [ngClass]="getSort('ExhibitorId')"></span>
				</th> 
				 <th (click)="sortData('FirstName')">Exhibitor Name
					<span [ngClass]="getSort('FirstName')"></span>
				 </th> 
				 <th (click)="sortData('BirthYear')">Birth Year
					<span [ngClass]="getSort('BirthYear')"></span>
				 </th>
				 <th>Remove</th> 
			  </tr>	
		   </thead> 
		   <perfect-scrollbar class="nicescrollBar-1"> 
			   <tbody>
                <tr *ngFor="let exhibitor of exhibitorsList;let i = index " (click)="highlight(exhibitor.ExhibitorId,i)" [ngClass]="{'blueRow': selectedRowIndex == i}">
                    <td data-label="Exhibitor Id">{{exhibitor.ExhibitorId}}</td>
                    <td data-label="Name">{{exhibitor.FirstName | titlecase}} {{exhibitor.LastName | titlecase}}</td>
                    <td data-label="Birth Year">{{exhibitor.BirthYear}}</td>
                    <td data-label="Remove">
                        <div (click)="confirmRemoveExhibitor($event, i,exhibitor.ExhibitorId)" class="icon"><i
                                class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </td>
                </tr>
			   </tbody>
			 </perfect-scrollbar> 
		 </table> 
         <div [hidden]="totalItems == 0">
            <mat-paginator #paginator [length]="totalItems" (page)="getNext($event)" [pageSizeOptions]="[5]">
            </mat-paginator>
        </div>
	   </div>
	</div>
	<!---->	
	 <div class="dataDesc gridTable multiCol">
		 <table class="table table-bordered tableBodyScroll">
			 <tbody>
				 <tr>
					 <td><span class="blueBox"></span><b>Exhibitor:</b> {{exhibitorInfo.ExhibitorId}}  </td>
                     <td><span class="blueBox"></span><b>Exhibitor Name:</b> <span class="classNameExt">{{this.exhibitorInfo.FirstName }} {{this.exhibitorInfo.LastName}}</span>
						<p class="toolTipText">{{this.exhibitorInfo.FirstName }} {{this.exhibitorInfo.LastName}}</p>
                    </td>
                     <td><span class="blueBox"></span><b>Group Name:</b> <span class="classNameExt">{{this.exhibitorInfo.GroupName}}</span>
						  <p class="toolTipText">{{this.exhibitorInfo.GroupName}}</p>
                    </td>
				 </tr>
			 </tbody>
		 </table>
	 </div>
	<!---->
	<div class="sponTabbing">
		

	 <!-- Tab panes -->
	 <div class="tab-content">
       <div class="tab-pane  active" id="home">
		<mat-tab-group #tabGroup>
			<mat-tab  class="nav-link active nav nav-tabs" label="Exhibitor Info">
                <form #exhibitorInfoForm="ngForm" name="exhibitorInfoForm" (ngSubmit)="exhibitorInfoForm.valid && addUpdateExhibitor()" novalidate>
                <div class="card">
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label><input #nsbaIndicator="ngModel" name="nsbaIndicator" [(ngModel)]="exhibitorInfo.IsNSBAMember" type="checkbox" value="" class="ciCheckbox">NSBA Indicator</label>
                                </div>
                                <div class="form-group">
                                    <label>Back Number </label>	
                                    <input #backNumber="ngModel" appOnlynumber name="backNumber" pattern="(^[0-9]*$)" [(ngModel)]="exhibitorInfo.BackNumber" type="text" class="form-control" placeholder="Back Number"/>                                
                                     <span class="help-block" *ngIf="backNumber.errors?.pattern">Back Number is not valid</span>
                                </div>
                                <div class="form-group">
                                    <label>First name <span>*</span></label>	
                                    <input #firstName="ngModel" name="firstName" [(ngModel)]="exhibitorInfo.FirstName" required  type="text" class="form-control" placeholder="First name"/>
                                    <span class="help-block"
                                    *ngIf="firstName.errors?.required && (firstName.touched || exhibitorInfoForm.submitted)">First
                                    Name is required</span>
                                </div>
                                <div class="form-group">
                                    <label>Last name <span>*</span></label>	
                                    <input  #lastName="ngModel" name="lastName" [(ngModel)]="exhibitorInfo.LastName" required type="text" class="form-control" placeholder="Last name"/>
                                    <span class="help-block"
                                    *ngIf="lastName.errors?.required && (lastName.touched || exhibitorInfoForm.submitted)">Last
                                    Name is required</span>
                                </div>
                               
                                        <div class="form-group">
                                            <label>State <span>*</span></label>	
                                            <select required class="form-control" placeholder="State" name="state" #state="ngModel" [(ngModel)]="exhibitorInfo.StateId" (change)="getCities($event.target.value);getStateName($event)">													
                                                <option value="null" disabled="true" [selected]="true">
                                                    Select State
                                                </option>
                                                <option *ngFor="let state of statesResponse"
                                                    [value]="state.StateId">{{state.Name}} -
                                                    {{state.Code}}
                                                </option>                                                                                               
                                            </select>
                                            <span class="help-block" *ngIf="state.errors?.required && (state.touched || exhibitorInfoForm.submitted)" >State is
                                                required</span>
                                        </div>
                                    

                                <div class="row">
                                    <div class="col-md-7">
                                <div class="form-group">
                                    <label>City <span>*</span></label>	
                                    <select required class="form-control" placeholder="city" (change)="getZipCodes($event.target.value);getCityName($event)" name="city" #city="ngModel" [(ngModel)]="exhibitorInfo.CityId" >																						
                                        <option value="null" disabled="true" [selected]="true">
                                            Select City
                                        </option>                                               
                                        <option *ngFor="let city of citiesResponse"
                                        [value]="city.CityId">{{city.Name}}
                                                </option>												
                                    </select>
                                    <span class="help-block" *ngIf="city.errors?.required && (city.touched || exhibitorInfoForm.submitted)">City  is
                                        required</span>
                                </div>
                            </div>


                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Zip Code<span>*</span></label>
                                        <select required class="form-control" placeholder="Zip Code"
                                             #zipcodeid="ngModel" name="zipcodeid"
                                            [(ngModel)]="exhibitorInfo.ZipCodeId"
                                            (change)="getZipNumber($event)">
                                            <option value="null" disabled="true" [selected]="true">
                                                Select Zip Code
                                            </option>
                                            <option *ngFor="let code of zipCodesResponse"
                                                [value]="code.ZipCodeId">{{code.Number}} 
                                            </option>
                                        </select>
                                        <span class="help-block"
                                            *ngIf="zipcodeid.errors?.required && (zipcodeid.touched || exhibitorInfoForm.submitted)">
                                            Zip Code is required
                                        </span>
                                    </div>
                                </div>
                            </div>


                                <div class="form-group">
                                    <label>Quantity Programs </label>	
                                    <input #quantityPrograms="ngModel" name="quantityPrograms" [(ngModel)]="exhibitorInfo.QTYProgram" type="text" class="form-control" placeholder="Quantity Programs"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label><input type="checkbox"  #doctorVetNoteIndicator="ngModel" name="doctorVetNoteIndicator" [(ngModel)]="exhibitorInfo.IsDoctorNote" value="" class="ciCheckbox">Doctor/Vet Note Indicator</label>
                                </div>
                                <div class="form-group">
                                    <label>Birth Year <span>*</span></label>                                  
                                    <select required class="form-control" placeholder="Birth Year" name="birthYear" #birthYear="ngModel" [(ngModel)]="exhibitorInfo.BirthYear" (change)="setBirthYear($event)">													
                                        <option value="null" disabled="true" [selected]="true">
                                            Select Birth Year
                                        </option>
                                        <option *ngFor="let year of years"
                                            [value]="year">{{year}}
                                        </option>                                                                                               
                                    </select>
                                    <span class="help-block"
                                    *ngIf="birthYear.errors?.required && (birthYear.touched || exhibitorInfoForm.submitted)">Birth Year
                                     is required</span>                                    
                                </div>
                                <div class="form-group">
                                    <label>Phone </label>	
                                    <input mask="(000) 000-0000" #phone="ngModel" name="phone" [(ngModel)]="exhibitorInfo.Phone" type="text" class="form-control" placeholder="Phone"/>
                                </div>
                                <div class="form-group">
                                    <label>Email 1 </label>	
                                    <input #primaryEmail="ngModel" name="primaryEmail" [(ngModel)]="exhibitorInfo.PrimaryEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" type="text" class="form-control" placeholder="Email 1"/>
                                    <span class="help-block" *ngIf="primaryEmail.errors?.required && (primaryEmail.touched || exhibitorInfoForm.submitted)">Email is
                                        required</span>
                                     <span class="help-block" *ngIf="!primaryEmail.errors?.required && primaryEmail.errors?.pattern">Primary Email is
                                        invalid</span>
                                </div>
                                <div class="form-group">
                                    <label>Email 2 </label>	
                                    <input #secondaryEmail="ngModel" name="secondaryEmail" [(ngModel)]="exhibitorInfo.SecondaryEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  type="text" class="form-control" placeholder="Email 2"/>
                                    <span class="help-block" *ngIf="secondaryEmail.errors?.required && (secondaryEmail.touched || exhibitorInfoForm.submitted)">Email is
                                        required</span>
                                     <span class="help-block" *ngIf="!secondaryEmail.errors?.required && secondaryEmail.errors?.pattern">Secondary Email is
                                        invalid</span>
                                </div>
                                <div class="form-group">
                                    <label>Choose Group </label>	                              
                                                   <select #groupId="ngModel" name="groupId"
													[(ngModel)]="exhibitorInfo.GroupId" class="form-control">
													<option [ngValue]="null">
														Select Group
													</option>
													<option *ngFor="let group of groups" [value]="group.GroupId">
														{{group.GroupName}}
													</option>
                                                </select>
                                                
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="buttons text-right">
                                  <button (click)='tabGroup.selectedIndex = 1' class="btn btn-red btnCss roundBtn">Next</button>  
                                  <button type="submit" class="btn btn-red btnCss roundBtn">Submit</button> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </mat-tab>

            <mat-tab  class="nav-link nav nav-tabs" label="Horse">
                <div class="card">
                    <form #horsesForm="ngForm" (ngSubmit)="horsesForm.valid && addHorseToExhibitor()" class="formScroll">
                    <div class="card-body"> 
                        <div class="table-responsive tableTab" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Horse Name</th> 
                                        <th>Horse Type</th> 
                                        <th>Back Number</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        
                                        <tr *ngFor="let horse of exhibitorHorses;let i=index">
                                            <td>{{horse.HorseName}}</td>
                                            <td>{{horse.HorseType}}</td>
                                            <td>{{horse.BackNumber}}</td>
                                            <td>
                                            <button type="button" class="icon" (click)="confirmRemoveExhibitorHorse(horse.ExhibitorHorseId)"><span></span> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                       
                                        <tr>                                            
                                            <td>
                                                <select class="dynDataSeclect" name="horse" required
																[(ngModel)]="linkedHorseId" (change)="getHorseType($event.target.value)" #horseControl="ngModel">
																<option [ngValue]="null">
																	Select Horse
																</option>
																<option *ngFor="let horse of horses"
																	[value]="horse.HorseId">{{horse.HorseId}} -
																	{{horse.Name}}
																</option>
															</select>
															<span class="help-block"
																*ngIf="(horsesForm.submitted || horseControl.touched) && horseControl.invalid">Please
																select horse</span>
                                            </td>
                                            <td>{{horseType}}</td>
                                            <td>
                                                <span *ngIf="(!isFirstBackNumber && horseType)">
                                                <input appOnlynumber  type="text" [required]="horseType" class="form-control" name="backNumberControl" #backNumberControl="ngModel" [(ngModel)]="backNumberLinked" placeholder="Back Number" />                                               
                                                <span class="help-block"
												*ngIf="(horsesForm.submitted || backNumberControl.touched) && backNumberControl.invalid">Please
                                                enter back number
                                                 </span>
                                                </span>
                                                <span *ngIf="(isFirstBackNumber && horseType)"> {{exhibitorInfo.BackNumber}}</span>
                                            </td>

                                            <td></td>                                            
                                        </tr>
                                    </tbody> 
                                </perfect-scrollbar>
                            </table>
                        </div>
                        <div class="quantityWrapper mt-3">
                            <div class="form-group">
                                <label>Horse Stall Quantity</label>
                                <div class="uantityField stallQuantity">
                                <input type="text" class="form-control" placeholder="4" />
                                <button type="button"
                                class="btn btn-red btnCss roundBtn whitebg">Stall</button>
                                </div>
                            </div>
                            <div class="divideLine"></div>
                            <div class="form-group mb-0">
                                <label>Track Stall Quantity</label>
                                <div class="uantityField stallQuantity">
                                <input type="text" class="form-control" placeholder="2" />
                                <button type="button"
                                class="btn btn-red btnCss roundBtn whitebg">Stall</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="actionBtn text-right mb-4 mt-3">
                        <button (click)='tabGroup.selectedIndex = 0' class="btn btn-red btnCss roundBtn">Previous</button>
                        <button (click)='tabGroup.selectedIndex = 2' class="btn btn-red btnCss roundBtn">Next</button>
                        <a [routerLink]="['/perspective/horse']" target="_blank"><button type="button" class="btn btn-red btnCss roundBtn">+ Hourse</button></a>
                        <button type="submit"class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </form>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Sponsors">
                <div class="card dataEntriesTable">
                    <div class="card-body">
                        <div class="table-responsive tableTab" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Sponsor/Donor </th> 
                                        <th>Detail Info</th> 
                                        <th>Email</th>
                                        <th>Total $ Received</th>
                                        <th>Ad Number</th>
                                        <th>Ad Size</th>
                                        <th>Remove</th> 
                                    </tr>	
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Soqpa</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>soqpa@yahoo.com</td>
                                        <td>$100</td>
                                        <td>106</td>
                                        <td>Eighth Page</td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>OH Valley Reign</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>ovalley@aol.com</td>
                                        <td>$50</td>
                                        <td>107</td>
                                        <td>Front InsideCover</td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>Northwest Exports</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>gpa@smithex.com</td>
                                        <td>#230</td>
                                        <td>800</td>
                                        <td>Bank Outside</td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>MH Equiptment</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>gpa@smithex.com</td>
                                        <td>#100</td>
                                        <td>36</td>
                                        <td>
                                            <select class="dynDataSeclect">
                                                <option value="null">Select</option> 
                                                <option value="null">Half Page</option> 
                                                <option value="null">Full Page</option>  
                                                <option value="null">Quarter Page</option>  
                                                <option value="null">Last Page</option>                                                                                                
                                            </select>
                                        </td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="dynDataSeclect">
                                                <option value="null">Select</option> 
                                                <option value="null">SoVisual</option> 
                                                <option value="null">Red-G-Ware</option>  
                                                <option value="null">Abigail Roberts</option>                                                                                                 
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                        <div class="actionBtn text-right mb-4 mt-3">
                            <button (click)='tabGroup.selectedIndex = 1' class="btn btn-red btnCss roundBtn">Previous</button>
                            <button (click)='tabGroup.selectedIndex = 3' class="btn btn-red btnCss roundBtn">Next</button>
                            <button class="btn btn-red btnCss roundBtn">+ Sponsors</button>
                            <button class="btn btn-red btnCss roundBtn">Submit</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Classes">
                <div class="card dataEntriesTable">
                    <div class="card-body"> 
                        <div class="table-responsive" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Class Number</th> 
                                        <th>Class Name</th> 
                                        <th>Age Group</th> 
                                        <th>Total Entries</th> 
                                        <th>Scratch</th>
                                        <th>Remove</th> 
                                    </tr>
                                </thead>
                                <perfect-scrollbar class="nicescrollBar-2"> 
                                    <tbody>
                                        <tr>
                                            <td>8E</td>
                                            <td>Poles Horse</td>
                                            <td>13 - 15</td>
                                            <td>10</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>9N</td>
                                            <td>WEstern Showmanship</td>
                                            <td>13</td>
                                            <td>15</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>10W</td>
                                            <td>Barrels Horse</td>
                                            <td>13 - 15</td>
                                            <td>21</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <select class="dynDataSeclect">
                                                    <option value="null">Select</option> 
                                                    <option value="null">8E / Poles Horse / Age:13-15</option> 
                                                    <option value="null">9N / WEstern Showmanship / Age:13</option>  
                                                    <option value="null">10W / Barrels Horse / Age:13-15</option>  
                                                    <option value="null">11 / Contest Horse / Age:12 & Under </option>                                                                                                
                                                </select> 
                                            </td>
                                            <td>16</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                    </tbody>
                                </perfect-scrollbar>
                            </table>
                        </div>
                    </div>
                    <div class="actionBtn text-right mb-4 mt-3">
                        <button (click)='tabGroup.selectedIndex = 2' class="btn btn-red btnCss roundBtn">Previous</button>
                        <button (click)='tabGroup.selectedIndex = 4' class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">+ Class</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Financials">
                <div class="card">
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="indicatorWrapper">
                                    <div class="form-group">
                                        <label><input type="checkbox" value="" class="ciCheckbox">Scratch Indicator</label>
                                    </div>
                                    <div class="form-group">
                                        <label><input type="checkbox" value="" class="ciCheckbox">Doctor / Vet Note Indicator</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-7">
                                <h3 class="tableCaption">Summary of Fees Billed to Exhibitor</h3>
                                <div class="table-responsive tableTab" id="contentscroll2">
                                    <table class="table table-bordered tableBodyScroll">
                                        <thead>
                                            <tr>
                                                <th>Qty</th>
                                                <th>Fee</th>
                                                <th>View Details</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <perfect-scrollbar class="nicescrollBar-2">
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Horse Stall Free</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$45.00</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Tack Stall Fee</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$30.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Additional Programs</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$55.00</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Class Entry Fee</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$120.00</td>
                                                </tr>
                                                <tr>
                                                    <td (click)="showFinancialTransaction()" colspan="2"><button class="btn btn-red btnCss roundBtn">Summary</button></td>
                                                    <td colspan="2"><b>TOTAL:</b> $255.00</td>
                                                </tr>
                                            </tbody>
                                        </perfect-scrollbar>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-5">
                                <h3 class="tableCaption">Money Received from Exhibitor</h3>
                                <div class="table-responsive" id="contentscroll2">
                                    <table class="table table-bordered tableBodyScroll">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <perfect-scrollbar class="nicescrollBar-2">
                                            <tbody>
                                                <tr>
                                                    <td>1/12/21</td>
                                                    <td>$45.00</td>
                                                </tr>
                                                <tr>
                                                    <td>1/30/21</td>
                                                    <td>$30.00</td>
                                                </tr>
                                                <tr>
                                                    <td>3/17/21</td>
                                                    <td>$45.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><b>TOTAL:</b> $255.00</td>
                                                </tr>
                                            </tbody>
                                        </perfect-scrollbar>
                                    </table>
                                    <table class="table table-bordered tableBodyScroll mt-4">
                                            <tbody>
                                                <tr>
                                                    <td>Outstanding:</td>
                                                    <td>$130.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Over Payment:</td>
                                                    <td>$0.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Refund:</td>
                                                    <td>$48.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="actionBtn text-left p-0 ">                                                            
                                                            <button class="btn btn-red btnCss roundBtn">Recalculate</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class=" text-right mt-4 ftButtonSection">
                            <button (click)='tabGroup.selectedIndex = 3' class="btn btn-red btnCss roundBtn">Previous</button>
                            <button (click)='tabGroup.selectedIndex = 5' class="btn btn-red btnCss roundBtn">Next</button>                            
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Statements">
                <div class="card dataEntriesTable">
                    <div class="card-body"> 
                        <div class="table-responsive tableTab ssReports" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                <tr>
                                    <th>Select a Statement or Report</th> 
                                </tr>	
                                </thead> 
                                <perfect-scrollbar class="nicescrollBar-2"> 
                                    <tbody>
                                        <tr>
                                            <td>Exhibitor Registration Statement Report (#15)</td>
                                        </tr>
                                        <tr>
                                            <td>Exhibitor Group Information Report (#17)</td>
                                        </tr>
                                        <tr>
                                            <td>Ad Refund Statement Report(#3)</td>
                                        </tr>
                                        <tr>
                                            <td>Exhibitor Sponsor Statement(#4)</td>
                                        </tr>
                                        <tr>
                                            <td>All Youth Total Ads and Refunds(#5)</td>
                                        </tr>
                                        <tr>
                                            <td>Year Show Summary</td>
                                        </tr>
                                    </tbody>
                                </perfect-scrollbar> 
                            </table> 
                            <div class="prePostField mt-2">
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Email
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Print
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Display
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Download
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actionBtn text-right mb-3">
                        <button (click)='tabGroup.selectedIndex = 6' class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Scans">
                <div class="card dataEntriesTable">
                    <div class="card-body">
                        <div class="table-responsive tableTab ssReports" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                <tr>
                                    <th>Select The Document Type</th> 
                                </tr>	
                                </thead> 
                                <perfect-scrollbar class="nicescrollBar-2"> 
                                    <tbody>
                                        <tr>
                                            <td>Registration Papers</td>
                                        </tr>
                                        <tr>
                                            <td>Exhibitor Group Information Report(#17)</td>
                                        </tr>
                                        <tr>
                                            <td>Doctor or Vet Notes</td>
                                        </tr>
                                        <tr>
                                            <td>CVI</td>
                                        </tr>
                                        <tr>
                                            <td>Coggins</td>
                                        </tr>
                                        <tr>
                                            <td>Other</td>
                                        </tr>
                                    </tbody>
                                </perfect-scrollbar> 
                            </table> 
                            <div class="prePostField mt-2">
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Email
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Print
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Display
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Download
                                    </label>
                                </div>
                            </div>                            
                        </div>                         
                    </div>
                    <div class="actionBtn text-right mb-3">
                        <button class="btn btn-red btnCss roundBtn">Scan</button>
                        <button class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
		</mat-tab-group>
	  </div>
			
	
			 
	 </div>

	 
     </div>
 

    </div>
    <!----> 
	<div class="loaderWrapper" *ngIf="loading">
        <div class="loader"></div>
    </div>