<div class="headerBlueStrip"></div>
<div class="loginWrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commonCol text-center">
                    <a href="#" class="logoSection text-center">
                        <img src="assets/images/logo-1.png" alt="image" class="img-fluid"/>
                    </a>
                    <form class="loginField">
                        <div class="form-group passIcon">
                            <input type="" placeholder="Password" required >                            
                        </div>
                        <div class="form-group passIcon">
                            <input type="" placeholder="Confirm Password" required >                            
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="commonCol text-center">
                        <ul class="footerLink">
                            <li><a href="#">Red<span>G</span>ware, LLC</a></li>
                            <li>© 2020 - 2030</li>
                            <li><a href="#">All Rights Reserved</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

