<div id="classSplit" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                        <div class="table-responsive emTable">
                            <h3>Class Category</h3>
                            <table class="table table-bordered tableBodyScroll">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Active</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        <tr>
                                            <td>Barrels</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>In Hand</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Hunter</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Ranch Riding</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Reining</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Western Pleasure</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Western Riding</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Men's Western Riding</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        
                                    </tbody>
                                    </perfect-scrollbar>

                                </table>
                        </div>	
        </div>
        <div class="modal-footer text-center">					
            <button type="button" class="btn btn-default" data-dismiss="modal">+ Category</button>
            <button type="button"  (click)="onDismiss()" class="btn btn-default" data-dismiss="modal">Back</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
        </div>

    </div>
</div>