<div id="classSplit" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                        <div class="table-responsive emTable">
                            <h3>Add Size & Location Fees</h3>
                            <table class="table table-bordered tableBodyScroll">
                                    <thead>
                                        <tr>
                                            <th>Add Size</th>
                                            <th>Amount</th>
                                            <th>Active</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        <tr>
                                            <td>Full Page</td>
                                            <td>$350.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Half Page</td>
                                            <td>$175.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Forth page</td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Eighth Page</td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Front</td>
                                            <td>$350.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Front Inside</td>
                                            <td>$175.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Back Inside</td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Last Page </td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        
                                    </tbody>
                                    </perfect-scrollbar>

                                </table>
                        </div>	
        </div>
        <div class="modal-footer text-center">					
            <button type="button" class="btn btn-default" data-dismiss="modal">+ Add Size Fee</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
        </div>

    </div>
</div>