<div id="classSplit" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="onDismiss()"type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Size & Location Fees</h4>
            </div>
            <div class="modal-body text-center">
                        <div class="table-responsive emTable">
                            <table class="table table-bordered tableBodyScroll">
                                    <thead>
                                        <tr>
                                            <th>Add Size</th>
                                            <th>Amount</th>
                                            <th>Active</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        <tr>
                                            <td>Full Page</td>
                                            <td>$350.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Half Page</td>
                                            <td>$175.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Forth page</td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input  name="nsbaIndicator"  type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Eighth Page</td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Front</td>
                                            <td>$350.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Front Inside</td>
                                            <td>$175.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Back Inside</td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Special Fee Last Page </td>
                                            <td>$90.00</td>
                                            <td>
                                                <label class="customCheckbox d-inline">
                                                    <input name="nsbaIndicator" type="checkbox" value="" class="ciCheckbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="2">
                                                <input #addSize="ngModel"   name="addSize"   [(ngModel)]="size" type="text" class="form-control" placeholder="Add Size"/>
                                            </td>
                                            <td colspan="2">
                                                <input #amount="ngModel"  appOnlynumber name="amount"   [(ngModel)]="addAmount" type="text" class="form-control" placeholder="Amount"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </perfect-scrollbar>

                                </table>
                        </div>	
        </div>
        <div class="modal-footer text-center">					
            <button type="button" class="btn btn-default" data-dismiss="modal">+ Add Size Fee</button>
            <button type="button" (click)="onDismiss()" class="btn btn-default" data-dismiss="modal">Back</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
        </div>

    </div>
</div>