<div class="innerContent">
	<div class="sortData">
	   <div class="sponBtn"><button class="btn btn-red btnCss">Add new Classes</button></div>
   </div>
   <!---->
	<div class="gridTable addBlueStrip">
	   <div class="table-responsive">
		 <table class="table table-bordered tableBodyScroll">
		   <thead>
			  <tr>
				<th (click)="sortData('classNumber')">Class No.
					<span [ngClass]="getSort('classNumber')">
										  
					</span>
				</th> 
				 <th (click)="sortData('className')"> Class Name
					<span [ngClass]="getSort('className')">
										  
					</span>
				 </th> 
				 <th >Age Group
				
				 </th>
				 <th>Entries
					
				 </th>
				 <th>Remove</th> 
			  </tr>	
		   </thead> 
		   <perfect-scrollbar class="nicescrollBar-1"> 
			   <tbody>
				 <tr *ngFor="let class of classesList;let i = index " (click)="highlight(class.ClassId,i)" [ngClass]="{'blueRow': selectedRowIndex == i}">
					 <td data-label="Class No.">{{class.ClassNumber}}</td>
					 <td data-label="Class Name">{{class.Name}}</td>
					 <td data-label="Age Group">{{class.AgeGroup}}</td>
					 <td data-label="Enteries">{{class.Entries}}</td>
					 <td data-label="Remove">
						<button class="icon" (click)="confirmRemoveClass($event, i,class.ClassId)"><span></span> <i class="fa fa-trash-o"
							aria-hidden="true"></i></button>
						</td>
				 </tr>
																									 
			   </tbody>
			</perfect-scrollbar >
		 </table> 
		 <div class="paginationWrapper mt-4 text-center">
			 <ul class="pagination">
				 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
				 <li class="page-item"><a class="page-link" href="#">1</a></li>
				 <li class="page-item"><a class="page-link" href="#">2</a></li>
				 <li class="page-item"><a class="page-link" href="#">3</a></li>
				 <li class="page-item"><a class="page-link" href="#">4</a></li>
				 <li class="page-item"><a class="page-link" href="#">5</a></li>
				 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
			 </ul>
		 </div>

		 <mat-paginator [length]="totalItems" [pageSizeOptions]="[10]" >
		</mat-paginator>

	   </div>
	</div>
	<!---->	
	 <div class="dataDesc gridTable">
		 <table class="table table-bordered tableBodyScroll">
			 <tbody>
				 <tr>
					 <td><span class="blueBox"></span><b>Class Number:</b> 121W  </td>
					 <td><span class="blueBox"></span><b>Class Name:</b> Barrel Pony</td>
					 <td><span class="blueBox"></span><b>Class Age Group:</b>  18</td>
				 </tr>
			 </tbody>
		 </table>
	 </div>
	<!---->
	 <div class="sponTabbing">
		

	 <!-- Tab panes -->
	 <div class="tab-content">
	   <div class="tab-pane  active" id="home">
		<mat-tab-group #tabGroup (selectedTabChange)="onChange($event)">
			<mat-tab  class="nav-link active nav nav-tabs" label="Class Info">
				<form #classInfoForm="ngForm" name="classInfoForm" (ngSubmit)="classInfoForm.valid && addClass(classInfoForm)" novalidate >
		  <div class="card">
			<div class="card-body">
			   <div class="row">
				 <div class="col-sm-6">
					 <div class="form-group">
						 <label>Class Header <span>*</span></label>	
						 <input type="text" class="form-control" #classHeader="ngModel" name="classHeader" required [(ngModel)]="classInfo.ClassHeader" placeholder="Class Header"/>
						 <span class="help-block" *ngIf="classHeader.errors?.required && (classHeader.touched || classInfoForm.submitted)">Class Header is
							required</span>
					 </div>
					 <div class="form-group">
						 <label>Class Number <span>*</span></label>	
						 <input type="text" class="form-control" #classNumber="ngModel" required name="classNumber" [(ngModel)]="classInfo.ClassNumber" placeholder="Class Number"/>
						 <span class="help-block" *ngIf="classNumber.errors?.required && (classNumber.touched || classInfoForm.submitted)">Class Number is
							required</span>
					 </div>  
					 <div class="form-group">
						 <label>Class Name <span>*</span></label>	
						 <input type="text" class="form-control"  #className="ngModel" required name="className" [(ngModel)]="classInfo.ClassName" placeholder="Class Name"/>
						 <span class="help-block" *ngIf="className.errors?.required && (className.touched || classInfoForm.submitted)">Class Name is
							required</span>
					 </div> 
					 <div class="form-group">
						<label>Age Group <span>*</span></label>	
						<input type="text" class="form-control" #ageGroup="ngModel" required name="ageGroup" [(ngModel)]="classInfo.AgeGroup" placeholder="Age Group"/>
						<span class="help-block" *ngIf="ageGroup.errors?.required && (ageGroup.touched || classInfoForm.submitted)">Age group is
							required</span>
					</div>
					 
				 </div> 

				 <div class="col-sm-6">
					 <div class="form-group">
						 <label>Class Schedule Date <span class="redString">*</span></label>
						 <mat-form-field appearance="outline">
							<input matInput [matDatepicker]="scheduleDate"
								#scheduleDate="ngModel" readonly
								name="scheduleDate"
								[(ngModel)]="classInfo.ScheduleDate">
							<mat-datepicker-toggle matSuffix [for]="scheduleDate">
							</mat-datepicker-toggle>
							<mat-datepicker #scheduleDate></mat-datepicker>
						</mat-form-field>
					 </div>
				 </div>


				 <!--  class split screen  -->
				
				 <div class="col-sm-12 mt-4">
					<div class="buttons text-right">
						 <button (click)='tabGroup.selectedIndex = 1' class="btn btn-red btnCss roundBtn">Next</button> 
						 <button class="btn-red btnCss roundBtn" data-toggle="modal" (click)="showSplitClass()" data-target="#classSplit">Class Split</button> 
						 <button class="btn btn-red btnCss roundBtn">Submit</button> 
					</div> 
				  </div>
			   </div>
			  </div> 
		  </div>
		</form>

		</mat-tab>

		<mat-tab  class="nav-link active nav nav-tabs" label="Enteries">

		  <div class="card dataEntriesTable">
			<div class="card-body">  
					<div class="table-responsive" id="contentscroll2">
						<table class="table table-bordered tableBodyScroll">
							<thead>
								<tr>
									<th>Exhibitor no/Name</th> 
									<th>Horse</th> 
									<th>Birth Year</th> 
									<th>Amount Paid</th> 
									<th>Amount Due</th>
									<th>Scratch</th> 
									<th>Remove</th> 
								</tr>	
							</thead> 
							<perfect-scrollbar class="nicescrollBar-2"> 
							<tbody>
								<tr *ngFor="let entry of classEntries;let i=index">
									<td data-label="Exhibitor no/Name">{{entry.Exhibitor}}</td>
									<td data-label="Horse">
										<select class="dynDataSeclect">
											<option>Big Boy</option>
											<option>Windy</option>
											<option>Joey</option>
										</select>
										<!-- <option *ngFor="let entry of Horse"
										[value]="city.CityId">{{city.Name}}
						</option> -->
									</td>
									<td data-label="Birth Year">{{entry.BirthYear}}</td>
									<td data-label="Amount Paid">{{entry.AmountPaid}}</td>
									<td data-label="Amount Due">{{entry.AmountDue}}</td>
									<td data-label="Scratch">
										<div class="sizzerIcon">
											<img src="assets/images/sizzer-icon.png" alt="image" />
										</div>
									</td>
									<td data-label="Remove"><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
								</tr>
						
						
							
								<tr>
									<td colspan="2">
										<select class="dynDataSeclect" (change)="getExhibitorHorses($event.target.value)">
											<option value="null" disabled="true" [selected]="true">
												Select Exhibitor
											</option>
										<option *ngFor="let exhibitor of exhibitorsResponse"
										[value]="exhibitor.ExhibitorId">{{exhibitor.Exhibitor}}
						                  </option>
										</select>
									</td>
									<td colspan="2">
										<select class="dynDataSeclect">
											<option *ngFor="let horse of exhibitorsHorsesResponse"
											[value]="horse.HorseId">{{horse.HorseId}} -
											{{horse.Horse}}
										</option>
										</select>
									</td>
									<td colspan="3"></td>
								</tr>
								
							</tbody>
						   </perfect-scrollbar> 
							</table> 
				 </div>
			 </div>
			 <div class="actionBtn text-right mt-3 mb-3">
				 <button (click)='tabGroup.selectedIndex = 0' class="btn btn-red btnCss">Previous</button>									
				 <button class="btn btn-red btnCss">+ Exhibitor</button>
				 <button class="btn btn-red btnCss">Submit</button>
				 <button (click)='tabGroup.selectedIndex = 2' class="btn btn-red btnCss">Next</button>
				 <button class="btn btn-red btnCss">Display/Print</button>
			 </div>


		 </div>

		</mat-tab>
			<mat-tab  class="nav-link active nav nav-tabs" label="Results">

			 <div class="card dataEntriesTable">
				 <div class="card-body">    
					 <div class="table-responsive tableTab">
						<table class="table table-bordered tableBodyScroll">
							<thead>
								<tr>
									<th>Result</th> 
									<th>Back No</th> 
									<th>Exhibitor Name</th> 
									<th>Birth Year</th> 
									<th>Horse Name</th>
									<th>City, St. Zip</th> 
									<th>Amount paid</th>
									<th>Amount Due</th>
								</tr>	
							</thead> 
							<perfect-scrollbar class="nicescrollBar-2"> 
							<tbody>
								<tr>
									<td data-label="Result">1st</td>
									<td data-label="Back No">090</td>
									<td data-label="Exhibitor Name">George Williams</td>
									<td data-label="Birth Year">2011</td>
									<td data-label="Horse Name">Big Boy</td>
									<td data-label="City, St. Zip">Newark, OH</td>
									<td data-label="Amount paid">125.00</td>
									<td data-label="Amount Due">0.00</td>
								</tr>
								<tr>
									<td data-label="Result">2nd</td>
									<td data-label="Back No">022</td>
									<td data-label="Exhibitor Name">Aubree Wrangler</td>
									<td data-label="Birth Year">2013</td>
									<td data-label="Horse Name">Better Then Enough</td>
									<td data-label="City, St. Zip">Kenton, OH</td>
									<td data-label="Amount paid">125.00</td>
									<td data-label="Amount Due">0.00</td>
								</tr>	
								<tr>
									<td data-label="Result">3rd</td>
									<td data-label="Back No">040</td>
									<td data-label="Exhibitor Name">Aleah Arthur</td>
									<td data-label="Birth Year">2012</td>
									<td data-label="Horse Name">Wimpy Little wilda</td>
									<td data-label="City, St. Zip">Irwin, PA</td>
									<td data-label="Amount paid">100.00</td>
									<td data-label="Amount Due">25.00</td>
								</tr>
								<tr>
									<td data-label="Result">4th</td>
									<td data-label="Back No">010</td>
									<td data-label="Exhibitor Name">Bask Creek Crystal</td>
									<td data-label="Birth Year">2013</td>
									<td data-label="Horse Name">Big Boy</td>
									<td data-label="City, St. Zip">Columbia, OH</td>
									<td data-label="Amount paid">50.00</td>
									<td data-label="Amount Due">125.00</td>
								</tr>
								<tr>
									<td data-label="Result">5th</td>
									<td data-label="Back No">010</td>
									<td data-label="Exhibitor Name">Bask Creek Crystal</td>
									<td data-label="Birth Year">2013</td>
									<td data-label="Horse Name">Big Boy</td>
									<td data-label="City, St. Zip">Columbia, OH</td>
									<td data-label="Amount paid">50.00</td>
									<td data-label="Amount Due">125.00</td>
								</tr>
								<tr>
									<td data-label="Result">6th</td>
									<td data-label="Back No">010</td>
									<td data-label="Exhibitor Name">Bask Creek Crystal</td>
									<td data-label="Birth Year">2013</td>
									<td data-label="Horse Name">Big Boy</td>
									<td data-label="City, St. Zip">Columbia, OH</td>
									<td data-label="Amount paid">50.00</td>
									<td data-label="Amount Due">125.00</td>
								</tr>
								<tr>
									<td data-label="Result">7th</td>
									<td data-label="Back No">010</td>
									<td data-label="Exhibitor Name">Bask Creek Crystal</td>
									<td data-label="Birth Year">2013</td>
									<td data-label="Horse Name">Big Boy</td>
									<td data-label="City, St. Zip">Columbia, OH</td>
									<td data-label="Amount paid">50.00</td>
									<td data-label="Amount Due">125.00</td>
								</tr>
								<tr>
									<td data-label="Result">8th</td>
									<td data-label="Back No">010</td>
									<td data-label="Exhibitor Name">Bask Creek Crystal</td>
									<td data-label="Birth Year">2013</td>
									<td data-label="Horse Name">Big Boy</td>
									<td data-label="City, St. Zip">Columbia, OH</td>
									<td data-label="Amount paid">50.00</td>
									<td data-label="Amount Due">125.00</td>
								</tr>
								<tr>
									<td></td>
									<td data-label="Back No" colspan="2">
									   <select class="dynDataSeclect">
										   <option>0029 Mathews Averie</option>
										   <option>0036 Lowe Abigail</option>
										   <option>0809 Morgan Mya</option>
									   </select>
									</td>
									<td colspan="5"></td>
								</tr>
								
							</tbody>
						   </perfect-scrollbar> 
							</table> 
					 </div>
				 </div>
				 <div class="actionBtn text-right mt-3 mb-3">
					 <button (click)='tabGroup.selectedIndex = 1'class="btn btn-red btnCss">Previous</button>
					 <button class="btn btn-red btnCss addDataType1">Print</button>
					 <button class="btn btn-red btnCss addDataType1">Download</button>
					 <button class="btn btn-red btnCss">Submit</button>
				 </div>
			 </div>
			</mat-tab>
			</mat-tab-group>
		 </div>
	 </div>

	 

	 </div>
   <!---->
 </div>
 <div class="loaderWrapper" *ngIf="loading"> 
	<div class="loader"></div>
 </div>