<div class="innerContent">
	<div class="sortData">
	   <div class="sponBtn"><button class="btn btn-red btnCss">Add new Exhibitor</button></div>						   
   </div>
   <!---->
	<div class="gridTable addBlueStrip">
	   <div class="table-responsive">
		 <table class="table table-bordered tableBodyScroll">
		   <thead>
			  <tr>
				<th>Exhibitor Id
					<span></span>
				</th> 
				 <th>Exhibitor Name
					<span></span>
				 </th> 
				 <th>Birth Year
					<span></span>
				 </th>
				 <th>Remove</th> 
			  </tr>	
		   </thead> 
		   <perfect-scrollbar class="nicescrollBar-1"> 
			   <tbody>
                <tr >
                    <td>2536</td>
                    <td>Joan Clark</td>
                    <td>2011</td>
                    <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>	
                <tr>
                    <td>307</td>
                    <td>Margaret Hamilton</td>
                    <td>2013</td>
                     <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>	  
                 <tr>
                    <td>101</td>
                    <td>Grace Hopper</td>
                    <td>2007</td>
                    <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>
                <tr>
                    <td>307</td>
                    <td>Kristyn Monroe</td>
                    <td>2012</td>
                     <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>
                <tr >
                    <td>2536</td>
                    <td>Joan Clark</td>
                    <td>2011</td>
                    <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>	
                <tr>
                    <td>307</td>
                    <td>Margaret Hamilton</td>
                    <td>2013</td>
                     <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>	  
                 <tr>
                    <td>101</td>
                    <td>Grace Hopper</td>
                    <td>2007</td>
                    <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>
                <tr>
                    <td>307</td>
                    <td>Kristyn Monroe</td>
                    <td>2012</td>
                     <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                </tr>
			   </tbody>
			 </perfect-scrollbar> 
		 </table> 
		 <div class="paginationWrapper mt-4 text-center">
			 <ul class="pagination">
				 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
				 <li class="page-item"><a class="page-link" href="#">1</a></li>
				 <li class="page-item"><a class="page-link" href="#">2</a></li>
				 <li class="page-item"><a class="page-link" href="#">3</a></li>
				 <li class="page-item"><a class="page-link" href="#">4</a></li>
				 <li class="page-item"><a class="page-link" href="#">5</a></li>
				 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
			 </ul>
		 </div>
	   </div>
	</div>
	<!---->	
	 <div class="dataDesc gridTable">
		 <table class="table table-bordered tableBodyScroll">
			 <tbody>
				 <tr>
					 <td><span class="blueBox"></span><b>Exhibitor:</b> 3341  </td>
                     <td><span class="blueBox"></span><b>Exhibitor Name:</b> Grace Hopper</td>
                     <td><span class="blueBox"></span><b>Group Name:</b></td>
				 </tr>
			 </tbody>
		 </table>
	 </div>
	<!---->
	<div class="sponTabbing">
		

	 <!-- Tab panes -->
	 <div class="tab-content">
	   <div class="tab-pane  active" id="home">
		<mat-tab-group #tabGroup>
			<mat-tab  class="nav-link active nav nav-tabs" label="Exhibitor">
                <div class="card">
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label><input type="checkbox" value="" class="ciCheckbox">NSBA Indicator</label>
                                </div>
                                <div class="form-group">
                                    <label>Bank Number <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="Bank Number"/>
                                </div>
                                <div class="form-group">
                                    <label>First name <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="First name"/>
                                </div>
                                <div class="form-group">
                                    <label>Last name <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="First name"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label>State <span>*</span></label>	
                                            <select required class="form-control" placeholder="State" name="state">
                                                <option value="null"></option>                                                                                               
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Zip Code <span>*</span></label>	
                                            <input type="text" class="form-control" maxlength="5"  placeholder="Zip Code"name="zipcode"/>
                                        </div> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>City <span>*</span></label>	
                                    <select required class="form-control" placeholder="city"  name="city">
                                        <option value="0" selected>City</option>
                                        <option >City</option>												
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Quantity Programs <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="First name"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label><input type="checkbox" value="" class="ciCheckbox">NSBA Indicator</label>
                                </div>
                                <div class="form-group">
                                    <label>Birth Year <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="Birth Year"/>
                                </div>
                                <div class="form-group">
                                    <label>Phone <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="Phone"/>
                                </div>
                                <div class="form-group">
                                    <label>Email 1 <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="Email 1"/>
                                </div>
                                <div class="form-group">
                                    <label>Email 2 <span>*</span></label>	
                                    <input type="text" class="form-control" placeholder="Email 2"/>
                                </div>
                                <div class="form-group">
                                    <label>Choose Group <span>*</span></label>	
                                    <select required class="form-control" placeholder="city"  name="Choose Group">
                                        <option value="0" selected>Choose Group</option>
                                        <option >Choose Group</option>												
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="buttons text-right">
                                  <button class="btn btn-red btnCss roundBtn">Next</button>  
                                  <button class="btn btn-red btnCss roundBtn">Submit</button> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab  class="nav-link nav nav-tabs" label="Horse">
                <div class="card dataEntriesTable">
                    <div class="card-body"> 
                        <div class="table-responsive tableTab" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Horse Name</th> 
                                        <th>Horse Type</th> 
                                        <th>Back Number</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        <tr>
                                            <td>Zips Elegant Steps</td>
                                            <td>Hourse</td>
                                            <td>2246</td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>Pretty Boy</td>
                                            <td>Pony</td>
                                            <td>2250</td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>Dixie</td>
                                            <td>Mini</td>
                                            <td>2254</td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>All Cashed Out</td>
                                            <td>
                                                <select class="dynDataSeclect">
                                                    <option value="null">Select Horse Type</option> 
                                                    <option value="null">Horse</option> 
                                                    <option value="null">Mini</option>  
                                                    <option value="null">Pony</option>                                                                                                 
                                                </select>
                                            </td>
                                            <td>2256</td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>                                            
                                        </tr>
                                        <tr>                                            
                                            <td>
                                                <select class="dynDataSeclect">
                                                    <option value="null">Select Horse</option> 
                                                    <option value="null">Big Red</option> 
                                                    <option value="null">Best In Show</option>  
                                                    <option value="null">Pony Billy</option>                                                                                                 
                                                </select>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>                                            
                                        </tr>
                                    </tbody> 
                                </perfect-scrollbar>
                            </table>
                        </div>
                    </div>
                    <div class="actionBtn text-right mb-4 mt-3">
                        <button class="btn btn-red btnCss roundBtn">Previous</button>
                        <button class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">+ Hourse</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Sponsors">
                <div class="card dataEntriesTable">
                    <div class="card-body">
                        <div class="table-responsive tableTab" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Sponsor/Donor </th> 
                                        <th>Detail Info</th> 
                                        <th>Email</th>
                                        <th>Total $ Received</th>
                                        <th>Ad Number</th>
                                        <th>Ad Size</th>
                                        <th>Remove</th> 
                                    </tr>	
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Soqpa</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>soqpa@yahoo.com</td>
                                        <td>$100</td>
                                        <td>106</td>
                                        <td>Eighth Page</td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>OH Valley Reign</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>ovalley@aol.com</td>
                                        <td>$50</td>
                                        <td>107</td>
                                        <td>Front InsideCover</td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>Northwest Exports</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>gpa@smithex.com</td>
                                        <td>#230</td>
                                        <td>800</td>
                                        <td>Bank Outside</td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>MH Equiptment</td>
                                        <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                        <td>gpa@smithex.com</td>
                                        <td>#100</td>
                                        <td>36</td>
                                        <td>
                                            <select class="dynDataSeclect">
                                                <option value="null">Select</option> 
                                                <option value="null">Half Page</option> 
                                                <option value="null">Full Page</option>  
                                                <option value="null">Quarter Page</option>  
                                                <option value="null">Last Page</option>                                                                                                
                                            </select>
                                        </td>
                                        <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="dynDataSeclect">
                                                <option value="null">Select</option> 
                                                <option value="null">SoVisual</option> 
                                                <option value="null">Red-G-Ware</option>  
                                                <option value="null">Abigail Roberts</option>                                                                                                 
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Classes">
                <div class="card dataEntriesTable">
                    <div class="card-body"> 
                        <div class="table-responsive" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Class Number</th> 
                                        <th>Class Name</th> 
                                        <th>Age Group</th> 
                                        <th>Total Entries</th> 
                                        <th>Scratch</th>
                                        <th>Remove</th> 
                                    </tr>
                                </thead>
                                <perfect-scrollbar class="nicescrollBar-2"> 
                                    <tbody>
                                        <tr>
                                            <td>8E</td>
                                            <td>Poles Horse</td>
                                            <td>13 - 15</td>
                                            <td>10</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>9N</td>
                                            <td>WEstern Showmanship</td>
                                            <td>13</td>
                                            <td>15</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td>10W</td>
                                            <td>Barrels Horse</td>
                                            <td>13 - 15</td>
                                            <td>21</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <select class="dynDataSeclect">
                                                    <option value="null">Select</option> 
                                                    <option value="null">8E / Poles Horse / Age:13-15</option> 
                                                    <option value="null">9N / WEstern Showmanship / Age:13</option>  
                                                    <option value="null">10W / Barrels Horse / Age:13-15</option>  
                                                    <option value="null">11 / Contest Horse / Age:12 & Under </option>                                                                                                
                                                </select> 
                                            </td>
                                            <td>16</td>
                                            <td>
                                                <div class="sizzerIcon">
                                                    <img src="assets/images/sizzer-icon.png" alt="image" />
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                    </tbody>
                                </perfect-scrollbar>
                            </table>
                        </div>
                    </div>
                    <div class="actionBtn text-right mb-4 mt-3">
                        <button class="btn btn-red btnCss roundBtn">Previous</button>
                        <button class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">+ Class</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Financials">
                <div class="card">
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="indicatorWrapper">
                                    <div class="form-group">
                                        <label><input type="checkbox" value="" class="ciCheckbox">Scratch Indicator</label>
                                    </div>
                                    <div class="form-group">
                                        <label><input type="checkbox" value="" class="ciCheckbox">Doctor / Vet Note Indicator</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-7">
                                <h3 class="tableCaption">Summary of Fees Billed to Exhibitor</h3>
                                <div class="table-responsive tableTab" id="contentscroll2">
                                    <table class="table table-bordered tableBodyScroll">
                                        <thead>
                                            <tr>
                                                <th>Qty</th>
                                                <th>Fee</th>
                                                <th>View Details</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <perfect-scrollbar class="nicescrollBar-2">
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Horse Stall Free</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$45.00</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Tack Stall Fee</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$30.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Additional Programs</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$55.00</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Class Entry Fee</td>
                                                    <td><div class="icon"><i class="fa fa-external-link" aria-hidden="true"></i></div></td>
                                                    <td>$120.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><button (click)="showFinancialTransaction()" class="btn btn-red btnCss roundBtn">Summary</button></td>
                                                    <td colspan="2"><b>TOTAL:</b> $255.00</td>
                                                </tr>
                                            </tbody>
                                        </perfect-scrollbar>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-5">
                                <h3 class="tableCaption">Money Received from Exhibitor</h3>
                                <div class="table-responsive" id="contentscroll2">
                                    <table class="table table-bordered tableBodyScroll">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <perfect-scrollbar class="nicescrollBar-2">
                                            <tbody>
                                                <tr>
                                                    <td>1/12/21</td>
                                                    <td>$45.00</td>
                                                </tr>
                                                <tr>
                                                    <td>1/30/21</td>
                                                    <td>$30.00</td>
                                                </tr>
                                                <tr>
                                                    <td>3/17/21</td>
                                                    <td>$45.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><b>TOTAL:</b> $255.00</td>
                                                </tr>
                                            </tbody>
                                        </perfect-scrollbar>
                                    </table>
                                    <table class="table table-bordered tableBodyScroll mt-4">
                                            <tbody>
                                                <tr>
                                                    <td>Outstanding:</td>
                                                    <td>$130.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Over Payment:</td>
                                                    <td>$0.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Refund:</td>
                                                    <td>$48.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="actionBtn text-left p-0 ">                                                            
                                                            <button class="btn btn-red btnCss roundBtn">Recalculate</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Statements">
                <div class="card dataEntriesTable">
                    <div class="card-body"> 
                        <div class="table-responsive tableTab ssReports" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                <tr>
                                    <th>Select a Statement or Report</th> 
                                </tr>	
                                </thead> 
                                <perfect-scrollbar class="nicescrollBar-2"> 
                                    <tbody>
                                        <tr>
                                            <td>Exhibitor Registration Statement Report (#15)</td>
                                        </tr>
                                        <tr>
                                            <td>Exhibitor Group Information Report (#17)</td>
                                        </tr>
                                        <tr>
                                            <td>Ad Refund Statement Report(#3)</td>
                                        </tr>
                                        <tr>
                                            <td>Exhibitor Sponsor Statement(#4)</td>
                                        </tr>
                                        <tr>
                                            <td>All Youth Total Ads and Refunds(#5)</td>
                                        </tr>
                                        <tr>
                                            <td>Year Show Summary</td>
                                        </tr>
                                    </tbody>
                                </perfect-scrollbar> 
                            </table> 
                            <div class="prePostField mt-2">
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Email
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Print
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Display
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Download
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actionBtn text-right mb-3">
                        <button (click)='tabGroup.selectedIndex = 2' class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab  class="nav-link nav nav-tabs" label="Scans">
                <div class="card dataEntriesTable">
                    <div class="card-body">
                        <div class="table-responsive tableTab ssReports" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                <tr>
                                    <th>Select The Document Type</th> 
                                </tr>	
                                </thead> 
                                <perfect-scrollbar class="nicescrollBar-2"> 
                                    <tbody>
                                        <tr>
                                            <td>Registration Papers</td>
                                        </tr>
                                        <tr>
                                            <td>Exhibitor Group Information Report(#17)</td>
                                        </tr>
                                        <tr>
                                            <td>Doctor or Vet Notes</td>
                                        </tr>
                                        <tr>
                                            <td>CVI</td>
                                        </tr>
                                        <tr>
                                            <td>Coggins</td>
                                        </tr>
                                        <tr>
                                            <td>Other</td>
                                        </tr>
                                    </tbody>
                                </perfect-scrollbar> 
                            </table> 
                            <div class="prePostField mt-2">
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Email
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Print
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>Display
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="radioBtn">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>Download
                                    </label>
                                </div>
                            </div>                            
                        </div>                         
                    </div>
                    <div class="actionBtn text-right mb-3">
                        <button class="btn btn-red btnCss roundBtn">Scan</button>
                        <button class="btn btn-red btnCss roundBtn">Next</button>
                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                    </div>
                </div>
            </mat-tab>
		</mat-tab-group>
	  </div>
			
	
			 
	 </div>

	 
     </div>
    </div>
    <!----> 
	