<div id="downLoadDoc" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sponsors Details</h4>
        </div>
        <div class="modal-body text-center sponsorsDetails">
            <div class="form-group">
                <label><b>Sponsor Name:</b></label>
            </div>
            <div class="form-group">
                <label><b>Contact Name:</b></label>
            </div>
            <div class="form-group">
                <label><b>Phone:</b></label>
            </div>
            <div class="form-group">
                <label><b>Email:</b></label>
            </div>
            <div class="form-group">
                <label><b>Address:</b></label>
            </div>
            <div class="form-group">
                <label><b>Amount Received:</b></label>
            </div>
            <div class="form-group">
                <label><b>State:</b></label>
            </div>
            <div class="form-group">
                <label><b>City:</b></label>
            </div>
            <div class="form-group">
                <label><b>Zip Code:</b></label>
            </div>
            <div class="form-group">
                <label><b>Sponsor ID:</b></label>
            </div>
        </div>
        <div class="modal-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>		
    
</div>