<div id="fTransactions" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button (click)="onDismiss()"type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Financial Transactions</h4>
        </div>
        <div class="modal-body text-center">
            <!-- financial transation -->
            <form #feeForm="ngForm" (ngSubmit)="feeForm.valid && addFee()" class="formScroll">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataDesc gridTable rmStrip">
                            <table class="table table-bordered tableBodyScroll">
                                <tbody>
                                    <tr>
                                        <td><span class="blueBox"></span><b>Exhibitor: </b> {{exhibitorDetails.ExhibitorId}}  </td>
                                        <td><span class="blueBox"></span><b>Exhibitor Name: </b> {{exhibitorDetails.ExhibitorName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive tableTab fTransactions" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type of fee</th>
                                        <th>Pre/Post</th>
                                        <th>Amount</th>
                                        <th>Amount Paid</th>
                                        <th>Refund Amount</th>
                                        <th>Scan Check</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Tack</td>
                                            <td>
                                                <div class="prePostField">
                                                    <label class="radioBtn">Pre
                                                        <input type="radio" checked="checked" name="timeframe">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radioBtn">Post
                                                        <input type="radio" name="timeframe">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="ftButton">
                                                    <span class="fileUpload">
                                                        <input type="file"  name="file" (change)="uploadDocument($event)" />
                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                    </span> 
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="icon" (click)="deleteFee(1)"><span></span> <i class="fa fa-trash-o" aria-hidden="true"></i></button>

                                            </td>
                                        </tr>                                      
                                        <tr>
                                            <td>
                                                <span *ngIf="fee.FeeType">
                                                <mat-form-field>
													<input matInput [matDatepicker]="scheduleDatePicker"
														 class="form-control" [value]="date"
														name="feeDate" 
														(dateChange)="handleFeeDateSelection()"
														 readonly>
														
													<mat-datepicker-toggle matSuffix [for]="scheduleDatePicker">
													</mat-datepicker-toggle>
													<mat-datepicker #scheduleDatePicker></mat-datepicker>													
                                                </mat-form-field>
                                            </span>
                                            </td>
                                            <td>
                                                <select class="form-control" name="fee" required
                                                [(ngModel)]="fee.FeeType" (change)="setFeeType($event)" #feeControl="ngModel">
                                                <option [ngValue]="null">
                                                    Select Fee
                                                </option>
                                                <option *ngFor="let fee of feeDetails"
                                                    [value]="fee.FeeTypeId">{{fee.FeeType}}
                                                </option>
                                            </select>
                                            <span class="help-block"
                                                *ngIf="(feeForm.submitted || feeControl.touched) && feeControl.invalid">Please
                                                select fee</span> 
                                            </td>
                                            <td>
                                                <div *ngIf="fee.FeeType" class="prePostField">
                                                    <label class="radioBtn">Pre
                                                        <input type="radio" checked="checked" [(ngModel)]="fee.Timeframe"  value="Pre" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radioBtn">Post
                                                        <input type="radio" value="Post" [(ngModel)]="fee.Timeframe" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>  
                                            </td>
                                            <td>
                                            <span *ngIf="fee.FeeType">
                                            <input appOnlynumber #amountControl="ngModel" [(ngModel)]="fee.Amount" type="text"  class="form-control" name="amountControl"  />    
                                        </span> 
                                            </td>
                                            <td>
                                                <span *ngIf="fee.FeeType">
                                           <input appOnlynumber #paidControl="ngModel" [(ngModel)]="fee.Paid" required type="text"  class="form-control" name="paid"  /> 
                                           <span class="help-block"
                                            *ngIf="(feeForm.submitted || paidControl.touched) && paidControl.invalid">
                                            Please enter amount
                                          </span>  
                                          </span>    
                                            </td>
                                            <td>
                                                {{fee.Refund}}
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                                        
                                    </tbody>
                                </perfect-scrollbar>
                            </table>
                        </div>
                    </div>
        </div>
        <div class="modal-footer text-center">
            <!-- <button class="btn btn-red btnCss roundBtn">+ Fee</button> -->
            <button type="submit" class="btn btn-red btnCss roundBtn">Submit</button>
        </div>
    </form>
        </div>

    </div>
</div>
 <!----> 
 <div class="loaderWrapper" *ngIf="loading">
    <div class="loader"></div>
</div>