<div id="fTransactions" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button (click)="onDismiss()"type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Financial Transactions</h4>
        </div>
        <div class="modal-body text-center">
            <!-- financial transation -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataDesc gridTable rmStrip">
                            <table class="table table-bordered tableBodyScroll">
                                <tbody>
                                    <tr>
                                        <td><span class="blueBox"></span><b>Group name:</b>   </td>
                                        <td><span class="blueBox"></span><b>Exhibitor Name:</b> Grace Hopper</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive tableTab fTransactions" id="contentscroll2">
                            <table class="table table-bordered tableBodyScroll">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type of fee</th>
                                        <th>Pre/Post</th>
                                        <th>Amount</th>
                                        <th>Amount Paid</th>
                                        <th>Refund Amount</th>
                                        <th>Scan Check</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <perfect-scrollbar class="nicescrollBar-2">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Tack</td>
                                            <td>
                                                <div class="prePostField">
                                                    <label class="radioBtn">Pre
                                                        <input type="radio" checked="checked" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radioBtn">Post
                                                        <input type="radio" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="ftButton">
                                                    <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Additional Program</td>
                                            <td>
                                                <div class="prePostField">
                                                    <label class="radioBtn">Pre
                                                        <input type="radio" checked="checked" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radioBtn">Post
                                                        <input type="radio" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="ftButton">
                                                    <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Stall</td>
                                            <td>
                                                <div class="prePostField">
                                                    <label class="radioBtn">Pre
                                                        <input type="radio" checked="checked" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radioBtn">Post
                                                        <input type="radio" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="ftButton">
                                                    <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <select class="dynDataSeclect">
                                                    <option value="null">Select</option> 
                                                    <option value="null">Additional Program</option> 
                                                    <option value="null">Class Entry</option>  
                                                    <option value="null">Stall</option>  
                                                    <option value="null">Tack</option> 
                                                    <option value="null">Ad Sponsor Refund</option>                                                                                                
                                                </select>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="ftButton">
                                                    <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                            <td><div class="icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                                        </tr>
                                                        
                                    </tbody>
                                </perfect-scrollbar>
                            </table>
                        </div>
                        <div class=" text-right mt-4 ftButtonSection">
                            <button class="btn btn-red btnCss roundBtn">Previous</button>
                            <button class="btn btn-red btnCss roundBtn">Next</button>
                            <button class="btn btn-red btnCss roundBtn">+ Fee</button>
                            <button class="btn btn-red btnCss roundBtn">Submit</button>
                        </div>
                    </div>
                </div>
         

        </div>
        <div class="modal-footer text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </div>

    </div>
</div>
