<div class="innerContent">
	<div class="sortData">
	   <div class="sponBtn"><button class="btn btn-red btnCss" >Add new Year</button></div>						   
   </div>

   <div class="gridTable addBlueStrip">
        <div class="table-responsive">
            <table class="table table-bordered tableBodyScroll">
                <thead>
                <tr>
                    <th>Show Year
                        <span></span>
                    </th> 
                    <th>Pre Entry Cutoff Date
                        <span></span>
                    </th> 
                    <th>Pre Entry Free
                        <span></span>
                    </th>
                    <th>Post Entry Free
                        <span></span>
                    </th>
                    <th>Date Created
                        <span></span>
                    </th>
                    <th>Remove</th> 
                </tr>	
                </thead> 
                <perfect-scrollbar class="nicescrollBar-1"> 
                    <tbody>
                        <tr *ngFor="let summary of yearlyMaintenanceSummaryList">
                            <td data-label="Show Year">{{summary.Year}}</td>
                            <td data-label="Pre Entry Cutoff Date">{{summary.PreEntryCutOffDate | date : 'yyyy/MM/dd'}}</td>
                            <td data-label="Pre Entry Free">{{summary.PreEntryFee}}</td>
                            <td data-label="Post Entry Free">{{summary.PostEntryFee}}</td>
                            <td data-label="Date Created">{{summary.DateCreated | date : 'yyyy/MM/dd'}}</td>
                            <td data-label="Remove">
                                <button type="button" class="icon" (click)="confirmRemoveYear(summary.YearlyMaintenanceId)"><span></span> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        
                    </tbody>
                </perfect-scrollbar> 
            </table> 
            <div >
                <mat-paginator  #paginator [length]="totalItems" (page)="getNext($event)" [pageSizeOptions]="[5]">
                </mat-paginator>
            </div>
        </div>
    </div>

    <!---->	

    <div class="dataDesc gridTable twoCol">
		<table class="table table-bordered tableBodyScroll">
			<tbody>
				<tr>
					<td><span class="blueBox"></span><b>Horse Show Year:</b> 2020 </td>
					<td><span class="blueBox"></span><b>Horse Show Location:</b> <span class="classNameExt1">Ohio Expo Center</span>
						<p class="toolTipText">Ohio Expo Center</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
   <!---->
    <div class="sponTabbing">
        <div class="tab-content">
            <div class="tab-pane  active" id="home">
                <mat-tab-group #tabGroup>

                    <mat-tab  class="nav-link active nav nav-tabs" label="User Info">
                        <div class="card dataEntriesTable">
                            <div class="card-body">                                 
                                        <div class="table-responsive tableTab" id="contentscroll2">
                                            <table class="table table-bordered tableBodyScroll">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th> 
                                                        <th>Email</th> 
                                                        <th>Active</th>
                                                        <th>Verified</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <perfect-scrollbar class="nicescrollBar-2">
                                                    <tbody>
                                                        
                                                        <tr *ngFor="let user of registeredUsers">
                                                            <td>{{user.UserName}}</td>
                                                            <td>{{user.Email}}</td>
                                                            <td>
                                                                <label class="customCheckbox d-inline-block">
                                                                    <input name="nsbaIndicator"  type="checkbox" value="user.Active" [attr.checked]="user.IsActive === true ? true : null" class="ciCheckbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </td>
                                                            <td>
                                                             <span *ngIf="user.IsApproved==true"><i class="fa fa-check verifiedSign" aria-hidden="true"></i></span>
                                                             <span *ngIf="user.IsApproved==false"><i class="fa fa-times-circle verifiedSign" aria-hidden="true"></i></span>
                                                            </td>
                                                            <td>
                                                                <span *ngIf="user.IsApproved==false"><button type="button" (click)="confirmVerifyUnverify(user.UserId,'verify')" class="icon text-success"><span></span> <i class="fa fa-check-square-o darkBlue" aria-hidden="true"></i></button></span>
                                                                <span *ngIf="user.IsApproved==true"><button type="button" (click)="confirmVerifyUnverify(user.UserId,'unverify')" class="icon text-danger"><span></span> <i class="fa fa-ban verifiedSign" aria-hidden="true"></i></button></span>
                                                                <button type="button" class="icon" (click)="confirmRemoveUser(user.UserId)"><span></span> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                      
                                                    </tbody> 
                                                </perfect-scrollbar>
                                            </table>
                                        </div>
                                        
                                    <div class="actionBtn text-right mb-4 mt-3">
                                        <button (click)='tabGroup.selectedIndex = 1' class="btn btn-red btnCss roundBtn">Next</button>
                                        <button type="submit"class="btn btn-red btnCss roundBtn">Submit</button>
                                    </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab  class="nav-link  nav nav-tabs" label="Fees & Categories">
                        <form #addYearForm="ngForm" name="addYearForm" (ngSubmit)="addYearForm.valid && addUpdateYear()">
                        <div class="card dataEntriesTable">
                            <div class="card-body"> 
                                <ul class="showDateTable">
                                    <li>
                                        <div class="form-group">
                                            <label class="smText">Show Start Date</label> 
                                            <mat-form-field class="dateField">
                                                <input matInput [matDatepicker]="showStartDatePicker"
                                                    placeholder="Show Start Date" class="form-control"
                                                    name="showStartDate" #showStartDate="ngModel"
                                                    (dateChange)="handleShowStartDate()" readonly
                                                    [(ngModel)]="yearlyMaintenanceSummary.ShowStartDate" >
                                                <mat-datepicker-toggle matSuffix [for]="showStartDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #showStartDatePicker></mat-datepicker>													
                                            </mat-form-field>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="smText">Show End Date</label> 
                                            <mat-form-field class="dateField">
                                                <input matInput [matDatepicker]="showEndDatePicker"
                                                    placeholder="Billing Date" class="form-control"
                                                    name="showEndDate" #showEndDate="ngModel"
                                                    (dateChange)="handleShowEndDate()" readonly
                                                    [(ngModel)]="yearlyMaintenanceSummary.ShowEndDate" >
                                                <mat-datepicker-toggle matSuffix [for]="showEndDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #showEndDatePicker></mat-datepicker>													
                                            </mat-form-field>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="smText">Pre Entry Cut OFf Date</label>
                                            <mat-form-field class="dateField">
                                                <input matInput [matDatepicker]="preEntryCutOffDatePicker"
                                                    placeholder="Billing Date" class="form-control"
                                                    name="preEntryCutOffDate" #preEntryCutOffDate="ngModel"
                                                    (dateChange)="handlePreEntryCutOffDate()"
                                                    [(ngModel)]="yearlyMaintenanceSummary.PreCutOffDate" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="preEntryCutOffDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #preEntryCutOffDatePicker></mat-datepicker>													
                                            </mat-form-field>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="smText">Sponsor Cut Off Date</label>
                                            <mat-form-field class="dateField">
                                                <input matInput [matDatepicker]="sponsorCutOffDatePicker"
                                                    placeholder="Billing Date" class="form-control"
                                                    name="sponsorCutOffDate" #sponsorCutOffDate="ngModel"
                                                    (dateChange)="handleSponsorCutOffDate()"
                                                    [(ngModel)]="yearlyMaintenanceSummary.SponcerCutOffDate" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="sponsorCutOffDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #sponsorCutOffDatePicker></mat-datepicker>													
                                            </mat-form-field>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="smText">Show Year</label>                                  
                                            <select  class="form-control" placeholder="Year" name="year" #year="ngModel" [(ngModel)]="yearlyMaintenanceSummary.Year" (change)="setYear($event)">													
                                                <option value="null" disabled="true" [selected]="true">
                                                    Select  Year
                                                </option>
                                                <option *ngFor="let year of years"
                                                    [value]="year">{{year}}
                                                </option>                                                                                               
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                                
                                <div class="table-responsive tableTab ssReports" id="contentscroll2">
                                    <table class="table table-bordered tableBodyScroll">
                                        <thead>
                                        <tr>
                                            <th>Select To Populate</th> 
                                        </tr>	
                                        </thead> 
                                        <perfect-scrollbar class="nicescrollBar-2"> 
                                            <tbody>
                                                <tr>
                                                    <td><span class="pointerSign" (click)="openAddFeeModal()">Add Fees</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="pointerSign" (click)="openClassCategoryModal()">Class Categories</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="pointerSign" (click)="openGeneralFeeModal()">General Fees ( Horse, Admin, Class, Entry, etc )</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="pointerSign" (click)="openRefundCalculationFeeModal()">Refund Calculations</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="pointerSign" (click)="openShowLocationModal()">Show Locations</span></td>
                                                </tr>
                                            </tbody>
                                        </perfect-scrollbar> 
                                    </table> 
                                </div>
                            </div>
                            <div class="actionBtn text-right mb-3">
                                <button (click)='tabGroup.selectedIndex = 0' class="btn btn-red btnCss roundBtn">Previous</button>
                                <button (click)='tabGroup.selectedIndex = 2' class="btn btn-red btnCss roundBtn">Next</button>
                                <button type="submit"class="btn btn-red btnCss roundBtn">Submit</button>
                            </div>
                        </div>
                    </form>
                    </mat-tab>

                    <mat-tab  class="nav-link nav nav-tabs" label="Aayhs Contact Info">
                        <form>
                            <div class="card">
                                <div class="card-body">
                                    <div class="boxShadow mb-4"> 
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Show Date</label> 
                                                            <input type="text" class="form-control" placeholder="Show Date"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Show End</label> 
                                                            <input type="text" class="form-control" placeholder="Show End"/>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Show Location</label> 
                                                    <select required class="form-control" placeholder="Show Location" name="Show Location">													
                                                        <option value="null">Show Location</option>
                                                        <option>Show Location 1</option>                                                                                               
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email Contact 1</label> 
                                                    <input type="text" class="form-control" placeholder="Email Contact 1"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email Contact 2</label> 
                                                    <input type="text" class="form-control" placeholder="Email Contact 2"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone Contact 1</label> 
                                                    <input type="text" class="form-control" placeholder="Phone Contact 1"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone Contact 2</label> 
                                                    <input type="text" class="form-control" placeholder="Phone Contact 2"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 mb-4">
                                            <div class="boxShadow">
                                                <h6 class="captionBorder">Return Address: Exhibitor Sponsor Confirmation - Report #3</h6>
                                                <div class="form-group">
                                                    <label>Address</label> 
                                                    <input type="text" class="form-control" placeholder="Address"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>City</label> 
                                                    <input type="text" class="form-control" placeholder="City"/>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>State</label> 
                                                            <select required class="form-control" placeholder="State" name="State">													
                                                                <option value="null">State</option>
                                                                <option>State 1</option>                                                                                               
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label> Zip</label> 
                                                            <input type="text" class="form-control" placeholder="Zip"/>
                                                        </div>
                                                    </div>
                                                </div> 
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="boxShadow">
                                                <h6 class="captionBorder">Return Address: Exhibitor Refund Statement - Report 3a</h6>
                                                <div class="form-group">
                                                    <label>Address</label> 
                                                    <input type="text" class="form-control" placeholder="Address"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>City</label> 
                                                    <input type="text" class="form-control" placeholder="City"/>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>State</label> 
                                                            <select required class="form-control" placeholder="State" name="State">													
                                                                <option value="null">State</option>
                                                                <option>State 1</option>                                                                                               
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label> Zip</label> 
                                                            <input type="text" class="form-control" placeholder="Zip"/>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="boxShadow">
                                                <h6 class="captionBorder">Return Address: Confirmation for Entries and Atalls - Reports #17, #15</h6>
                                                <div class="form-group">
                                                    <label>Address</label> 
                                                    <input type="text" class="form-control" placeholder="Address"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>City</label> 
                                                    <input type="text" class="form-control" placeholder="City"/>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>State</label> 
                                                            <select required class="form-control" placeholder="State" name="State">													
                                                                <option value="null">State</option>
                                                                <option>State 1</option>                                                                                               
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label> Zip</label> 
                                                            <input type="text" class="form-control" placeholder="Zip"/>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actionBtn text-right mb-3">
                                        <button (click)='tabGroup.selectedIndex = 3' class="btn btn-red btnCss roundBtn">Previous</button>
                                        <button (click)='tabGroup.selectedIndex = 1' class="btn btn-red btnCss roundBtn">Next</button>
                                        <button class="btn btn-red btnCss roundBtn">Submit</button>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </mat-tab>
                    <mat-tab  class="nav-link nav nav-tabs" label="Purge Routine">
                        <form>
                            <div class="card">
                                <div class="card-body"> 
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab  class="nav-link nav nav-tabs" label="Backup Routine">
                        <form>
                            <div class="card">
                                <div class="card-body"> 
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<div class="loaderWrapper" *ngIf="loading">
	<div class="loader"></div>
</div>