<div class="innerContent">
	<div class="sortData">
	   <div class="sponBtn"><button class="btn btn-red btnCss">Add new Horse</button></div>						   
   </div>
   <!---->
	<div class="gridTable addBlueStrip">
	   <div class="table-responsive">
		 <table class="table table-bordered tableBodyScroll">
		   <thead>
			  <tr>
				<th (click)="sortData('horseName')">Horse Name
					<span [ngClass]="getSort('horseName')">										  
					</span>
				</th> 
				 <th (click)="sortData('horseType')">Horse Type
					<span [ngClass]="getSort('horseType')"></span>
				 </th> 
				 <th (click)="sortData('horseId')">Horse ID
					<span [ngClass]="getSort('horseId')"></span>
				 </th>
				 <th (click)="sortData('stall')">Stall
					<span [ngClass]="getSort('stall')"></span>
				 </th>
				 <th (click)="sortData('tackStall')">Tack Stall
					<span [ngClass]="getSort('tackStall')"></span>
				 </th>
				 <th>Remove</th> 
			  </tr>	
		   </thead> 
		   <perfect-scrollbar class="nicescrollBar-1"> 
			   <tbody>
				 <tr *ngFor="let horse of horsesList;let i = index " (click)="highlight(class.ClassId,i)">
					 <td data-label="Horse Name">{{horse.Name}}</td>
					 <td data-label="Horse Type">{{horse.HorseType}}</td>
					 <td data-label="Horse ID">{{horse.HorseId}}</td>
					 <td data-label="Stall">{{horse.StallNumber}}</td>
					 <td data-label="Track Stall">{{horse.TackStallNumber}}</td>
					 <td data-label="Remove"><div (click)="confirmRemoveHorse($event, i,horse.HorseId)" class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				
			 </perfect-scrollbar> 
		 </table> 
		 <div [hidden]="totalItems == 0">
			<mat-paginator #paginator [length]="totalItems" (page)="getNext($event)" [pageSizeOptions]="[5]">
			</mat-paginator>
		 </div>
	   </div>
	</div>
	<!---->	
	 <div class="dataDesc gridTable">
		 <table class="table table-bordered tableBodyScroll">
			 <tbody>
				 <tr>
					 <td><span class="blueBox"></span><b>Horse ID:</b> 304  </td>
					 <td><span class="blueBox"></span><b>Horse Name:</b> Pretty Boy</td>
				 </tr>
			 </tbody>
		 </table>
	 </div>
	<!---->
	 <div class="sponTabbing">
		

	 <!-- Tab panes -->
	 <div class="tab-content">
	   <div class="tab-pane  active" id="home">
		<mat-tab-group #tabGroup>
			<mat-tab  class="nav-link active nav nav-tabs" label="Horse Info">
				<form #horseInfoForm="ngForm" name="horseInfoForm" (ngSubmit)="horseInfoForm.valid && addHorse()" novalidate>
		 <div class="card">
			<div class="card-body">
			   <div class="row">
				 <div class="col-sm-6">
				 <div class="form-group">
						 <label>Horse ID <span>*</span></label>	
						 <input #horseId="ngModel" name="horseId" [(ngModel)]="horseInfo.HorseId"  type="text" class="form-control" placeholder="Horse ID"/>
					 </div>
					 <div class="form-group">
						 <label>Horse Name <span>*</span></label>	
						 <input #horseName="ngModel" name="horseName" [(ngModel)]="horseInfo.HorseName" required type="text" class="form-control" placeholder="Horse Name"/>
						 <span class="help-block" *ngIf="horseName.errors?.required && (horseName.touched || horseInfoForm.submitted)">Horse Name is required</span>
						</div>
					 <div class="form-group">
						 <label>Horse Type <span>*</span></label>	
						 <select #horseType="ngModel" name="horseType" required [(ngModel)]="horseInfo.HorseType" class="form-control">
							 <option>Pony</option>
							 <option>Horse</option>
							 <option>Mini</option>
						 </select>
						 <span class="help-block" *ngIf="horseType.errors?.required && (horseType.touched || horseInfoForm.submitted)">Horse Type is required</span>
					 </div>  
					 <div class="form-group">
						 <label>Jump Height <span>*</span></label>	
						 <select #jumpHeight="ngModel" name="jumpHeight" [(ngModel)]="horseInfo.JumpHeight" class="form-control">
							 <option>Horse 2 ft.</option>
							 <option>Horse 2 ft. 3 in</option>
							 <option>Horse 2 ft. 6 in</option>
							 <option>Pony 2 ft.</option>
						 </select>
					 </div> 
				 </div> 

				 <div class="col-sm-6">
					 <div class="form-group">
						 <label>Stall</label>
						 <input #stall="ngModel" name="stall" [(ngModel)]="horseInfo.Stall" type="text" class="form-control" placeholder="Stall"/>
					 </div>
					 <div class="form-group">
						 <label>Track Stall</label>
						 <input #tackStall="ngModel" name="tackStall" [(ngModel)]="horseInfo.TackStall" type="text" class="form-control" placeholder="Track Stall"/>
					 </div>
					 <div class="form-group">
						 <label>Group</label>
						 <input #group="ngModel" name="group" [(ngModel)]="horseInfo.Group" type="text" class="form-control" placeholder="Group"/>
					 </div>
					 <div class="form-group text-left">
						 <div class="checkbox">
							 <label><input type="checkbox" value="" #nsbaIndicator="ngModel" name="nsbaIndicator" [(ngModel)]="horseInfo.NSBAIndicator"  class="ciCheckbox">NSBA Indicator</label>
						 </div>
					 </div>
				 </div>
				
				 
			   </div>
			   <div class="col-sm-12 mb-3">
					<div class="buttons text-right">
						 <button type ="button"  (click)='tabGroup.selectedIndex = 1' class="btn btn-red btnCss roundBtn">Next</button>
						 <button type ="button" class="btn btn-red btnCss roundBtn">+ Horse</button> 
						 <button type ="button" class="btn-red btnCss roundBtn">Stall</button> 
						 <button type="submit" class="btn btn-red btnCss roundBtn">Submit</button> 
						 
					</div> 
				 </div>
				   
			  </div> 				  
		  </div>
		</form>
		</mat-tab>

		<mat-tab  class="nav-link active nav nav-tabs" label="Exhibitors Linked">
			<div class="card dataEntriesTable">
			  <div class="card-body">  
					  <div class="table-responsive">
					   <table class="table table-bordered tableBodyScroll">
					   <thead>
						   <tr>
							   <th>Exhibitor ID</th> 
							   <th>Exhibitor Name</th> 
							   <th>Date of Birth</th> 
						   </tr>	
					   </thead> 
					   <tbody>
						   <tr>
							   <td data-label="Exhibitor ID">0001</td>
							   <td data-label="Exhibitor Name">Rylan Votruba</td>
							   <td data-label="Date of Birth">2011</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0002</td>
							   <td data-label="Exhibitor Name">Gabriell Williams</td>
							   <td data-label="Date of Birth">2013</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0003</td>
							   <td data-label="Exhibitor Name">Giselle Scipione</td>
							   <td data-label="Date of Birth">2007</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0004</td>
							   <td data-label="Exhibitor Name">Debbie Arnold</td>
							   <td data-label="Date of Birth">2012</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0001</td>
							   <td data-label="Exhibitor Name">Rylan Votruba</td>
							   <td data-label="Date of Birth">2011</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0002</td>
							   <td data-label="Exhibitor Name">Gabriell Williams</td>
							   <td data-label="Date of Birth">2013</td>
						   </tr>
						   
					   </tbody>
					   </table> 
				   </div>
			   </div>
			   <div class="actionBtn text-right mt-3 mb-3">
				   <button (click)='tabGroup.selectedIndex = 0' class="btn btn-red btnCss">Previous</button>
			   </div>
  
  
		   </div>
        </mat-tab>
		</mat-tab-group>
	  </div>
			
	
			 
	 </div>
	 
	 <!--div class="tab-pane  fade" id="menu2">
		 <div class="card">
			 <div class="card-body">
						 test
			 </div>
		 </div>
	 </div-->
	 
	 </div>
	 
	 

	 </div>
   <!---->
