<div class="innerContent">
	<div class="sortData">
	   <div class="sponBtn"><button class="btn btn-red btnCss">Add new Horse</button></div>						   
   </div>
   <!---->
	<div class="gridTable addBlueStrip">
	   <div class="table-responsive">
		 <table class="table table-bordered tableBodyScroll">
		   <thead>
			  <tr>
				<th (click)="sortData('horseName')">Horse Name
					<span [ngClass]="getSort('horseName')">										  
					</span>
				</th> 
				 <th (click)="sortData('horseType')">Horse Type
					<span [ngClass]="getSort('horseType')"></span>
				 </th> 
				 <th (click)="sortData('horseId')">Horse ID
					<span [ngClass]="getSort('horseId')"></span>
				 </th>
				 <th>Stall
					
				 </th>
				 <th>Track Stall
					
				 </th>
				 <th>Remove</th> 
			  </tr>	
		   </thead> 
		   <perfect-scrollbar class="nicescrollBar-1"> 
			   <tbody>
				 <tr>
					 <td data-label="Horse Name">Zips Elegant Step</td>
					 <td data-label="Horse Type">Horse</td>
					 <td data-label="Horse ID">2246</td>
					 <td data-label="Stall">267</td>
					 <td data-label="Track Stall">200</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">Pretty Boy</td>
					 <td data-label="Horse Type">Pony</td>
					 <td data-label="Horse ID">2250</td>
					 <td data-label="Stall">45</td>
					 <td data-label="Track Stall">100</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">Dixie</td>
					 <td data-label="Horse Type">Mini</td>
					 <td data-label="Horse ID">2254</td>
					 <td data-label="Stall">17</td>
					 <td data-label="Track Stall">50</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">All Cashed Out</td>
					 <td data-label="Horse Type">Horse</td>
					 <td data-label="Horse ID">2256</td>
					 <td data-label="Stall">154</td>
					 <td data-label="Track Stall">100</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">Dixie</td>
					 <td data-label="Horse Type">Mini</td>
					 <td data-label="Horse ID">2254</td>
					 <td data-label="Stall">17</td>
					 <td data-label="Track Stall">50</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">All Cashed Out</td>
					 <td data-label="Horse Type">Horse</td>
					 <td data-label="Horse ID">2256</td>
					 <td data-label="Stall">154</td>
					 <td data-label="Track Stall">100</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">Dixie</td>
					 <td data-label="Horse Type">Mini</td>
					 <td data-label="Horse ID">2254</td>
					 <td data-label="Stall">17</td>
					 <td data-label="Track Stall">50</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">All Cashed Out</td>
					 <td data-label="Horse Type">Horse</td>
					 <td data-label="Horse ID">2256</td>
					 <td data-label="Stall">154</td>
					 <td data-label="Track Stall">100</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
				 <tr>
					 <td data-label="Horse Name">Dixie</td>
					 <td data-label="Horse Type">Mini</td>
					 <td data-label="Horse ID">2254</td>
					 <td data-label="Stall">17</td>
					 <td data-label="Track Stall">50</td>
					 <td data-label="Remove"><div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
				 </tr>
			   </tbody>
			 </perfect-scrollbar> 
		 </table> 
		 <div class="paginationWrapper mt-4 text-center">
			 <ul class="pagination">
				 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
				 <li class="page-item"><a class="page-link" href="#">1</a></li>
				 <li class="page-item"><a class="page-link" href="#">2</a></li>
				 <li class="page-item"><a class="page-link" href="#">3</a></li>
				 <li class="page-item"><a class="page-link" href="#">4</a></li>
				 <li class="page-item"><a class="page-link" href="#">5</a></li>
				 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
			 </ul>
		 </div>
	   </div>
	</div>
	<!---->	
	 <div class="dataDesc gridTable">
		 <table class="table table-bordered tableBodyScroll">
			 <tbody>
				 <tr>
					 <td><span class="blueBox"></span><b>Horse ID:</b> 304  </td>
					 <td><span class="blueBox"></span><b>Horse Name:</b> Pretty Boy</td>
				 </tr>
			 </tbody>
		 </table>
	 </div>
	<!---->
	 <div class="sponTabbing">
		

	 <!-- Tab panes -->
	 <div class="tab-content">
	   <div class="tab-pane  active" id="home">
		<mat-tab-group #tabGroup>
			<mat-tab  class="nav-link active nav nav-tabs" label="Horse Info">
		 <div class="card">
			<div class="card-body">
			   <div class="row">
				 <div class="col-sm-6">
				 <div class="form-group">
						 <label>Horse ID <span>*</span></label>	
						 <input type="text" class="form-control" placeholder="Horse ID"/>
					 </div>
					 <div class="form-group">
						 <label>Horse Name <span>*</span></label>	
						 <input type="text" class="form-control" placeholder="Horse Name"/>
					 </div>
					 <div class="form-group">
						 <label>Horse Type <span>*</span></label>	
						 <select class="form-control">
							 <option>Pony</option>
							 <option>Horse</option>
							 <option>Mini</option>
						 </select>
					 </div>  
					 <div class="form-group">
						 <label>Jump Height <span>*</span></label>	
						 <select class="form-control">
							 <option>Horse 2 ft.</option>
							 <option>Horse 2 ft. 3 in</option>
							 <option>Horse 2 ft. 6 in</option>
							 <option>Pony 2 ft.</option>
						 </select>
					 </div> 
				 </div> 

				 <div class="col-sm-6">
					 <div class="form-group">
						 <label>Stall</label>
						 <input type="text" class="form-control" placeholder="Stall"/>
					 </div>
					 <div class="form-group">
						 <label>Track Stall</label>
						 <input type="text" class="form-control" placeholder="Track Stall"/>
					 </div>
					 <div class="form-group">
						 <label>Group</label>
						 <input type="text" class="form-control" placeholder="Group"/>
					 </div>
					 <div class="form-group text-left">
						 <div class="checkbox">
							 <label><input type="checkbox" value="" class="ciCheckbox">NSBA Indicator</label>
						 </div>
					 </div>
				 </div>
				
				 
			   </div>
			   <div class="col-sm-12 mb-3">
					<div class="buttons text-right">
							<button class="btn btn-red btnCss roundBtn">Next</button>
						 <button class="btn btn-red btnCss roundBtn">+ Horse</button> 
						 <button class="btn-red btnCss roundBtn">Stall</button> 
						 <button class="btn btn-red btnCss roundBtn">Submit</button> 
						 
					</div> 
				 </div>
				   
			  </div> 
				  
		  </div>
		</mat-tab>

		<mat-tab  class="nav-link active nav nav-tabs" label="Horse Info">
			<div class="card dataEntriesTable">
			  <div class="card-body">  
					  <div class="table-responsive">
					   <table class="table table-bordered tableBodyScroll">
					   <thead>
						   <tr>
							   <th>Exhibitor ID</th> 
							   <th>Exhibitor Name</th> 
							   <th>Date of Birth</th> 
						   </tr>	
					   </thead> 
					   <tbody>
						   <tr>
							   <td data-label="Exhibitor ID">0001</td>
							   <td data-label="Exhibitor Name">Rylan Votruba</td>
							   <td data-label="Date of Birth">2011</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0002</td>
							   <td data-label="Exhibitor Name">Gabriell Williams</td>
							   <td data-label="Date of Birth">2013</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0003</td>
							   <td data-label="Exhibitor Name">Giselle Scipione</td>
							   <td data-label="Date of Birth">2007</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0004</td>
							   <td data-label="Exhibitor Name">Debbie Arnold</td>
							   <td data-label="Date of Birth">2012</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0001</td>
							   <td data-label="Exhibitor Name">Rylan Votruba</td>
							   <td data-label="Date of Birth">2011</td>
						   </tr>
						   <tr>
							   <td data-label="Exhibitor ID">0002</td>
							   <td data-label="Exhibitor Name">Gabriell Williams</td>
							   <td data-label="Date of Birth">2013</td>
						   </tr>
						   
					   </tbody>
					   </table> 
				   </div>
			   </div>
			   <div class="actionBtn text-right mt-3 mb-3">
				   <button class="btn btn-red btnCss">Previous</button>
			   </div>
  
  
		   </div>
        </mat-tab>
		</mat-tab-group>
	  </div>
			
	
			 
	 </div>
	 
	 <!--div class="tab-pane  fade" id="menu2">
		 <div class="card">
			 <div class="card-body">
						 test
			 </div>
		 </div>
	 </div-->
	 
	 </div>
	 
	 

	 </div>
   <!---->
