<div id="classSplit" class="modal fade trashPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #addLocationForm="ngForm" (ngSubmit)="addLocationForm.valid && addUpdateLocation()" class="formScroll">
                <div class="modal-header">
                    <button (click)="onDismiss()"type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Horse Show Location</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="shlModal">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Name</label> 
                                    <input type="text" #name="ngModel" [(ngModel)]="showLocation.Name" name="name" required class="form-control" />
                                    <span class="help-block"
                                    *ngIf="(addLocationForm.submitted || name.touched) && name.invalid">
                                Please enter name
                                </span>  
                                </div>
                                <div class="form-group">
                                    <label>Address</label> 
                                    <input type="text" #address="ngModel" [(ngModel)]="showLocation.Address" name="address" required class="form-control"/>
                                    <span class="help-block"
                                    *ngIf="(addLocationForm.submitted || address.touched) && address.invalid">
                                Please enter address
                                </span>  
                                </div>
                            </div>  
                            <div class="col-sm-12 col-md-9">
                                <div class="form-group">
                                    <label>City</label> 
                                    <input type="text" class="form-control" #city="ngModel" [(ngModel)]="showLocation.City" name="city" required />
                                    <span class="help-block"
                                    *ngIf="(addLocationForm.submitted || city.touched) && city.invalid">
                                Please enter city
                                </span>  
                                </div>
                            </div>  
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label>State</label> 
                                    <select  class="form-control" placeholder="Show Location"   #state="ngModel" [(ngModel)]="showLocation.StateId" name="state" required>													
                                        <option value="null" disabled="true" [selected]="true">
                                            Select State
                                        </option>
                                        <option *ngFor="let state of statesResponse"
                                            [value]="state.StateId">{{state.Name}} -
                                            {{state.Code}}
                                        </option>                                                                                                
                                    </select>
                                    <span class="help-block" *ngIf="state.errors?.required && (state.touched || addLocationForm.submitted)" >State is
                                        required</span>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>Zip</label> 
                                    <input type="text" appOnlynumber class="form-control" maxlength="5" #zip="ngModel" [(ngModel)]="showLocation.ZipCode" name="zip" required />
                                    <span class="help-block"
                                    *ngIf="(addLocationForm.submitted || zip.touched) && zip.invalid">
                                Please enter zip
                                </span>  
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>Phone</label> 
                                    <input type="text" class="form-control" mask="(000) 000-0000" #phone="ngModel" [(ngModel)]="showLocation.Phone" name="phone" required />
                                    <span class="help-block"
                                    *ngIf="(addLocationForm.submitted || phone.touched) && phone.invalid">
                                Please enter phone
                                </span> 
                                </div>
                            </div>        
                        </div>            
                    </div>            
                </div>
                <hr />
                <div class="modal-footer text-center">					
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">+ Refund</button> -->
                    <button type="button" (click)="onDismiss()" class="btn btn-default" data-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>	
<div class="loaderWrapper" *ngIf="loading">
	<div class="loader"></div>
</div>